@charset "utf-8";
/* CSS Document */
/* ~~ Element/tag selectors ~~ */
ul, ol, dl, p
 { /* Due to variations between browsers, it's best practices to zero padding and margin on lists. For consistency, you can either specify the amounts you want here, or on the list items (LI, DT, DD) they contain. Remember that what you do here will cascade to the .nav list unless you write a more specific selector. */
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6
{
	margin-top: 0;
	font-weight:normal !important;	 /* removing the top margin gets around an issue where margins can escape from their containing div. The remaining bottom margin will hold it away from any elements that follow. */
/* adding the padding to the sides of the elements within the divs, instead of the divs themselves, gets rid of any box model math. A nested div with side padding can also be used as an alternate method. */
}
a img 
{ /* this selector removes the default blue border displayed in some browsers around an image when it is surrounded by a link */
	border: none;
}
span
{
	font-weight:normal !important;
}
/* ~~ Styling for your site's links must remain in this order - including the group of selectors that create the hover effect. ~~ */
a:link 
{
	color:#414958;
	text-decoration: underline; /* unless you style your links to look extremely unique, it's best to provide underlines for quick visual identification */
}
a:visited 
{
	color: #4E5869;
	text-decoration: underline;
}
a:hover, a:active, a:focus
{ /* this group of selectors will give a keyboard navigator the same hover experience as the person using a mouse. */
	text-decoration: none;
}
/* ~~ this container surrounds all other divs giving them their percentage-based width ~~ */

/* ~~ This is the layout information. ~~ 

1) Padding is only placed on the top and/or bottom of the div. The elements within this div have padding on their sides. This saves you from any "box model math". Keep in mind, if you add any side padding or border to the div itself, it will be added to the width you define to create the *total* width. You may also choose to remove the padding on the element in the div and place a second div within it with no width and the padding necessary for your design.

*/
@font-face {
    font-family: 'CodeBoldRegular';
    src: url('code_bold-webfont.eot');
    src: url('code_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('code_bold-webfont.woff') format('woff'),
         url('code_bold-webfont.ttf') format('truetype'),
         url('code_bold-webfont.svg#CodeBoldRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CodeLightRegular';
    src: url('code_light-webfont.eot');
    src: url('code_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('code_light-webfont.woff') format('woff'),
         url('code_light-webfont.ttf') format('truetype'),
         url('code_light-webfont.svg#CodeLightRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


.Container
{
	background-image:url(../images/bg_home.jpg);
	background-repeat:no-repeat;
	background-position:center top;
	position:relative;
	width:756px;
	height:715px;
	margin:auto;
}

.Box_container
{
	position:relative;
	top:0px;
	left:18px;
	width:319px;
	height:674px;
	padding:39px 19px 0px 17px;
}
	.Text_1
	{
		font-family:Tahoma, Geneva, sans-serif;
		font-size:14px;
		font-weight:normal;	
		color:#daaf69;
		
	}
	.Text_2
	{
		font-family:CodeBoldRegular;
		font-size:16px;
		font-weight:normal;	
		color:#daaf69;
		
	}	
	input
	{
		font-family:CodeBoldRegular;
		font-size:12px;
		font-weight:normal;	
		color:#9d7127;
		border:#daaf69 1px solid;
	}	
	.Bt1
	{
		width:154px !important;
		height:25px !important;
		border:#9d7127 1px solid;
		padding-top:4px;
	}
	.Bt2
	{
		font-family:CodeBoldRegular;
		font-size:12px;
		font-weight:normal;	
		color:#9d7127;
		width:122px !important;
		height:25px !important;
		border:#daaf69 1px solid;
		padding-top:4px;
		margin-left:10px
	}	
	.Field_input
	{
		font-family:CodeBoldRegular;
		font-size:12px;
		font-weight:normal;	
		color:#000000 !important;
		width:201px !important;
		height:20px !important;
		border:#daaf69 1px solid;;
		padding-top:4px;
		background-color:#d6a85c;

	}	
	.Bt3_send
	{
		font-family:CodeBoldRegular;
		font-size:12px;
		font-weight:normal;	
		color:#9d7127;
		width:77px !important;
		height:24px !important;
		border:#d6a85c 1px solid;
		padding-top:4px;
		margin-left:11px;
	}	

	.Text_bot1
	{
		font-family:CodeBoldRegular;
		font-size:22px;
		font-weight:normal;	
		color:#daaf69;		
	}
	.Text_bot2
	{
		font-family:CodeBoldRegular;
		font-size:17px;
		font-weight:normal;	
		color:#daaf69;		
	}	
		.Text_bot3
	{
		font-family:CodeLightRegular;
		font-size:27.39px;
		font-weight:normal;	
		color:#daaf69;		
	}	
		.Text_bot4
	{
		font-family:CodeBoldRegular;
		font-size:27.39px;
		font-weight:bold;	
		color:#daaf69;		
	}		

#post
{
	background-color:#000;
}
.Clear
{ /* this class can be placed on a <br /> or empty div as the final element following the last floated div (within the #container) if the overflow:hidden on the .container is removed */
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}
